<%- include("header") -%>

<div class="comingSoon">
    <h1 class="jumbotron">This feature is going to be added soon (Read: FO)</h1>
    <a class="" href="/">Go to Betting Page </a>
</div>

<%- include("footer") -%>