<%- include("header") -%>
<div class="yourBet">
    <p class="yourBetop">Your bet on </p>
    <img src="Images\<%=choice%>.jfif" alt="">
    <p class="yourBetBottom">has been successfully saved for the user  <%=username%>.</p>
</div>
<%- include("footer") -%>